<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Trang chủ</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body><label class="checkbox" style="border: 1px dashed rgb(66, 133, 244);"><input type="checkbox">
        Checkbox</label><label class="checkbox" style="border: 1px dashed rgb(66, 133, 244);"><input type="checkbox">
        Checkbox</label>
    <div class="form-group" style=""><label>Text</label><input type="text" class="form-control"></div>
    <div class="form-group" style=""><label>Text</label><input type="text" class="form-control"></div>

    <!-- /container -->
    <nav class="navbar navbar-expand-sm bg-light sticky-top">

        <div class="container-fluid">
            <!-- Links -->
            <a class="navbar-brand" href="#">Thư viện Thanh Hà</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tra cứu sách</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary">Đăng ký</button>
                </li>
            </ul>
        </div>

    </nav>
    <div class="container">
        <h1 style="">Đăng ký</h1>
    </div>
    <div class="container" style="">
        <div class="form-group" style=""><label>Text</label><input type="text" class="form-control"></div>
        <form style="">
            <div class="form-group"><label>Họ và tên</label><input type="text" class="form-control"></div>
        </form>
        <div class="form-group" style="">
            <div class="  col-sm-6">
                <h3>
                    <div class="form-group" style=""><label>Ngày sinh</label><input type="text" class="form-control">
                    </div>
                    <div class="form-group" style=""><label>Giới tính</label><select class="form-control">
                            <option value="value1">Nam</option>
                            <option value="value2">Nữ</option>
                            <option value="value3">Khác</option>
                        </select></div>
                </h3>
            </div>
            <div class="  col-sm-6">
                <h3>
                    <div class="form-group" style=""><label>Mã CCCD</label><input type="text" class="form-control">
                    </div>
                    <div class="form-group" style=""><label>Số điện thoại</label><select class="form-control">
                            <option value="value1">Nam</option>
                            <option value="value2">Nữ</option>
                            <option value="value3">Khác</option>
                        </select></div>
                </h3>
            </div>
            <div class=" col-5 col-sm-6">
                <h3></h3>
            </div>
        </div>
        <form style="">
            <div class="form-group">
                <div class="row" style=""></div>
            </div>
        </form><label>Email</label><input type="text" class="form-control">
        <div class="form-group" style=""><label>Địa chỉ</label><input type="text" class="form-control">
            <div class="form-group" style=""><label>Tên đăng nhập</label><input type="text" class="form-control">
                <div class="form-group" style=""><label>Mật khẩu</label><input type="text" class="form-control"></div>
            </div>
        </div>
    </div>
    <form style=""></form><label class="checkbox" style=""><span data-metadata=style="white-space:pre-wrap;"><label
                class="checkbox" style=""><input type="checkbox"> Checkbox</label>Tôi cam
            đoan mọi thông tin đã điền ở trên là chính xác<button type="button" class="btn btn-warning"
                style="">Xácnhaan</button></span>
</body>

</html>